html, body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 100%;
}

header {
  background-color: #F5F5F5;
  height: 42px;
  margin: 0px auto;
  padding: 10px 0px;
  overflow: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
  width: 100%;
  position: fixed;
  /*opacity: 0.5;*/
}

.logo a {
  float: left;
  color: blue;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #EE836F;
  margin: 10px 0px 0px 80px;
  letter-spacing: 0.05em;
}

nav {
  margin: 0px 80px 0px 0px;
}

a .lastName {
  font-weight: 700;
  color: #EE836F;
}

.menuItems {
  float:right;
  display: inline-block;
  text-decoration: none;
  margin: 17px 0px 0px 60px;
  font-size: 0.6em;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #EE836F;
}

li a:hover {
  color: #212121;
}

.nameTitle {
  text-align: center;
  font-size: 2.6em;
  font-weight: 400;
  color: #F5F5F5;
  letter-spacing: 0.20em;
  word-spacing: 0.10em;
  line-height: 1.17em;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

#title {
  font-weight: 300;
  font-size: 0.80em;
  letter-spacing: 0.10em;

}

.button-1 {
  font-size: 0.27em;
  font-weight: 300;
  color: #F5F5F5;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 15px 30px; 
  border: 1px solid #F5F5F5;
  border-radius: 3px;
}

 .button-1:hover {
  background-color: rgba(250,250,250, 0.1);
}

.sect {
  height: 100%;
  background-color: #EE836F;
  background-attachment: fixed
}

.subSect {
  height: 50%;
  background-color: #F5F5F5;
  max-width: 100%;
  margin: 0px auto;
  position: relative;
  zoom: 1;
}

.heroImage {
  background-image: url(../images/IMG_1355.REV.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

.subHed {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color:#EE836F;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px
}

figure a {
  border: none;
}

.workImg {
  background-color: #EE836F;
  width: 25%;
  height: 33.34%;
  float: left;
}

 .workImg:hover {
  background-color: rgba(250,250,250, 0.2);
}

.videoContainer {
  height: 100%;
  width: 100%;
  padding: 0px 0px 20px 0px;
  background-color: #BDBDBD;
  /*background-attachment: fixed;*/
  overflow: hidden;
}

.vidSubhed {
  /*margin-top: 25px;*/
  margin: 25px auto;
  font-size: 0.9em; 
  font-weight: 400;
  color: #F5F5F5;
  width: 941px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #FAFAFA;
  position: relative;
}

.vidWrapper {
  /*width: 100%;*/
}

.vidPlayer {
  background-color: #FFEBEE;
  width: 941px;
  height: 529px;
  max-width: 100%;
  margin: 0px auto;
  position: relative;
}
