/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #f0efef;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  overflow: auto;
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

header {
  background-color: #033048;
  height: 100px;
  margin: 0px;
  padding: 0px 100px;
  overflow: auto;
}

header h1 {
    float: left;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    padding: 20px 0px;
}

nav {
  float: right;
}

nav a {
  font-size: 24px;
  font-weight: 300;
  color: #f9e42e;
  text-decoration: none;
  padding-left: 30px;
}

article p {
  width: 700px;
  font-weight: 300;
  font-size: 24px;
  color: #606161;
}

section h2 {
  width: 700px;
  font-weight: 600;
  font-size: 40px;
  color: #033048;
}

article img {
  margin: 20px 0px;
}

/* paragrah dropcap style*/

.dropcap {
  font-weight: 600;
  font-size: 110px;
  float: left;
  line-height: 99px;
  margin-right: 5px;
  margin-left: -8px;
  color: #606161;
}

.readmore {
  font-weight: 600;
  font-size: 24px;
  text-align: right;
  margin: 40px 0px 20px 0px;
  color: #033048;
  padding: 0px 0px 25px 0px;
  border-bottom: solid 1px;
}

/* aside */

aside {
  width: 240px;
}

h3 {
  font-weight: 800;
  font-size: 32px;
  color: #033048;
}

#categories li {
  font-weight: 300;
  font-size: 24px;
  color: #606161;
}

#about p {
  font-weight: 300;
  font-size: 22px;
  color: #606161;
}

#about {
  margin: 40px 0px 40px 0px;
}

.ad_unit {
  margin-top: 40px;
}

span {
  font-weight: 600;
  font-size: 22px;
  color: #033048;
}

/* footer */

#signup {
  background-color: #f9e42e;
  padding: 15px 0px;
}

#signup h4 {
  font-size: 20px; 
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  background-color: #033048;
  width: 200px;
  border-radius: 2px;
  padding: 10px 30px 10px 30px;
  margin: 10px auto;

}

#footer_container {
  background-color: #121212;
  padding: 0px 0px 25px 0px;
}

#footer_container h1 {
  color: #f9e42e;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding: 40px 0px;
}

#socialmedia img {
  text-align: center;
  margin: 0px 40px 50px 0px;
 }

#footer_container p {
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




