
/* BODY STYLES */
body {
  margin: 0px auto;
}

/* HEADER STYLES */

header {
  background-color: black;
  padding: 0 40px;
  border-bottom: 5px solid #FFFF00;
  overflow: auto;
}

header h1 {
  float: left;
  color: #FFFF00;
}

header nav {
  float: right;
  margin-top: 30px;
}

header a {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 20px; 
  color: white;
  margin-left: 20px;
  text-decoration: none;
  letter-spacing: 0.5px;
} 

/* TAGLINE STYLES */

.tagline {
  background-color: #C6C6C6;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 25px;
  font-weight: 700; 
  font-style: italic;
  margin: 0px auto;
  padding: 20px 0;
  box-shadow: 0px 0px 2px 0px;

}

.line-through {
  color: #9E9E9E;
  text-decoration: line-through;
}


.underline-text {
  border-bottom: solid yellow 2px;
 }

/* BACKGROUND IMAGE STYLES */

.image {
  background-image: url(../img/coworking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin: 0px auto;
  padding: 40px 40px;
  overflow: auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}

/* CREATE A PROFILE BOX STYLES */

#optin {
  float: right;
  background-color: rgba(255,255,255,0.75);
  width: 300px;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

#optin h2 {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0px;
}

#optin p {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 5px 0px 20px 0px;
}

#optin button {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: #FFFF00;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

/* SECTION STYLES */

.wrapper {
  overflow: auto;
  padding: 30px 0px;
  }

.box {
  float: left;
  width: 30%;
  border-left: solid 1px #C6C6C6;
  padding: 20px;
  margin: 40px auto;
}

.box h2 {
  font-family: Merriweather, serif; 
  font-size: 25px;
  margin: 0px;
}

.box p {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 5px 0px 20px 0px;
}

.box button {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: #C6C6C6;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

/* FOOTER STYLES */

footer {
  background-color: black;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 20px; 
  color: white;
  padding: 15px 40px;
  margin: 0px;
  clear: both;
}


