.container {
	width: 85%;
	margin: 0 auto;
}

header {
	background-color: yellow;
	overflow: hidden;
	padding: 10px 25px;
}

header h1 {
	float: left;
	font-size: 30px;
}

header nav {
	margin-top: 6px;
	float: right;
}

header nav a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
}

section {
	background-color: black;
	padding: 10px;
	overflow: auto;
}

article {
	background-color: white;
	padding: 10px;
	float: left;
	box-sizing: border-box;
	width: 49%;
	/*text-align: center;*/
}

/* targets the 1st article; nth-child(2) would target the 2nd article*/
article:nth-child(1) {
	margin-right: 10px;
}

article h1 {
	font-size: 20px;
	text-align: center;
	padding: 5px 0;
}

	/*MEDIA QUERIES*/

	@media (max-width: 480px) {
		body {
			background-color: blue;
		}

		h1, nav, article {
			float: none;
			width: 100%;
			text-align: center;
		}

		header nav a {
			margin-left: 15px;
		}

		article:nth-child(2) {
			margin-top: 10px;
		}

	}





